body{
  background-color:rgb(242, 229, 250) ;
}
hi{
  display:flex;
 
  justify-content: center;
  align-items: center;
  height:80px;
  
  
  font-size:x-large;
  text-align: center;
  background-color: rgb(191, 160, 201);
  font-size:x-large;
  font-weight:bold;
  margin-left: 20%;
  margin-right: 20%;
}

div{
  list-style: none;
  background-color: rgb(244, 232, 245);
  margin:5px;
  text-align: center;
  height: 40px;
  border:dotted rgb(251, 248, 252);
  font-size: large;
  margin-left: 20%;
  margin-right: 20%;
}